<!DOCTYPE html>
<html>

  <head>
    <title>FORMの練習</title>
  </head>

  <body>
    <h1>ユーザーが入力した情報を送る</h1>
    <table>
      <tr>
        <td>テキストボックス</td>
        <td><%= user_name  %></td>
      </tr>

      <tr>
        <td>ラジオボックス</td>
        <td><%= user_type %></td>
      </tr>

      <tr>
        <td>プルダウン</td>
        <td><%= user_type2  %></td>
      </tr>

      <tr>
        <td>チェックボックス</td>
        <td><%= check %></td>
      </tr>

      <tr>
        <td>隠し項目</td>
        <td><%= kakushi %></td>
      </tr>

    </table>
  </body>

</html>